# Variables
In Python, variables are used to store and manage data. Each variable has a name and a value, and the type of the variable indicates what kind of data it can hold.
### Variable Naming Rules:
 * Variable names in Python can contain alphanumerical characters `a-z`, `A-Z`, `0-9` and some special characters such as `_`.
 * Normal variable names must start with a letter.
 * By convention, variable names start with a lower-case letter, and Class names start with a capital letter.
 * In addition, there are a number of Python keywords that cannot be used as variable names. These keywords are:

    and, as, assert, break, class, continue, def, del, elif, else, except, 
    exec, finally, for, from, global, if, import, in, is, lambda, not, or,
    pass, print, raise, return, try, while, with, yield

## Assignment in Python
The assignment operator in Python is `=`.

Assigning a value to a new variable creates the variable:

In [ ]:
#Assigning values to variable
x = 10
name = "rafay"
is_student = True

#print the variable
print(x, name, is_student)

10 John True

In [2]:
#using input and output in python

name= input("What is your name?")
print("Name:", name)

What is your name?ali
Name: ali

# Operators
Most operators and comparisons in Python work as one would expect:

### Arithmetic operators `+`, `-`, `*`, `/`, `//` (integer division), '**' power

In [3]:
print  (1 + 2, 1 - 2, 1 * 2, 7 // 2)

3 -1 2 3

In [4]:
print  (1.0 + 2.0, 1.0 - 2.0, 1.0 * 2.0, 1.0 / 2.0)

3.0 -1.0 2.0 0.5

In [5]:
# Integer division of float numbers
print (3.0 // 2.0)

1.0

In [6]:
# Flaot division of integers
print (3/2)

1.5

In [7]:
# The power operators in python isn't ^, but **
print (2 ** 2)

4

Note: The `/` operator always performs a floating point division in Python 3.x.
This is not true in Python 2.x, where the result of `/` is always an integer if the operands are integers.
to be more specific, `1/2 = 0.5` (`float`) in Python 3.x, and `1/2 = 0` (`int`) in Python 2.x (but `1.0/2 = 0.5` in Python 2.x).

* The boolean operators are spelled out as the words `and`, `not`, `or`.

In [8]:
print  (True and False)

False

In [9]:
print (not False)

True

In [10]:
print  (True or False)

True

* Comparison operators `>`, `<`, `>=` (greater or equal), `<=` (less or equal), `==` equality, `is` identical.

In [11]:
print  (2 > 1, 2 < 1)

True False

In [12]:
print (2 >= 2, 2 <= 2)

True True

In [13]:
# equality
print ([1,2] == [1,2])

True

In [14]:
# objects identical?
l1=l2=[1,2]

print  (l1 is l2)

True

# Data Types
Python is a dynamically typed language, so we do not need to specify the type of a variable when we create one.

In [15]:
x=1.2
print(type(x))

#If we assign a new value to a variable, its type can change.
x=3
print(type(x))

<class 'float'>
<class 'int'>

In [16]:
#integers
x = 1
print (type(x))

<class 'int'>

In [17]:
# float
x = 1.0
print (type(x))

<class 'float'>

In [18]:
# boolean
b1 = True
b2 = False

print (type(b1))

<class 'bool'>

In [19]:
# complex numbers: note the use of `j` to specify the imaginary part
x = 1.0 - 1.0j
print (type(x))

<class 'complex'>

In [20]:
print(x)
print(x.real, x.imag)

(1-1j)
1.0 -1.0

Check if a certain variable is integer or float....

In [21]:
x= 5
print (type(x) is int)

True

In [22]:
x= 5.0
print (type(x) is int)

False

We can also use the `isinstance` method for testing types of variables:

In [23]:
print (isinstance(x, float))

True

# Type casting
Typecasting in Python refers to the process of converting a variable from one data type to another. Python provides several built-in functions for typecasting. Here are some common typecasting functions:

In [24]:
# int(x)

float_num = 3.14
int_num = int(float_num)
print(int_num)

3

In [25]:
# float(x)

int_num = 5
float_num = float(int_num)
print(float_num)

5.0

In [26]:
# bool(x)

number = 0
bool_value = bool(number)
print(bool_value)

False

In [27]:
#list(x)

string = "hello"
list_chars = list(string)
print(list_chars)

['h', 'e', 'l', 'l', 'o']

Complex variables cannot be cast to floats or integers. We need to use `z.real` or `z.imag` to extract the part of the complex number we want:

In [28]:
z = 3 + 4.2j
float_z= float(z.real)
int_z  = int(z.imag)
print(float_z, int_z)

3.0 4

# Compound data types: Strings, List and dictionaries
## Strings
Strings are the variable type that is used for storing text messages.

In [29]:
s = "Hello world"
print (type(s))

<class 'str'>

In [30]:
# length of the string: the number of characters
print (len(s))

11

In [31]:
# replace a substring in a string with somethign else
s2 = s.replace("world", "test")
print (s2)

Hello test

We can index a character in a string using `[]`:

Indexing starts with 0

We can extract a part of a string using the syntax `[start:stop]`, which extracts characters between index `start` and `stop` -1 (the character at index `stop` is not included):

In [32]:
print (s[0])

H

In [33]:
print (s[0:4])

Hell

In [34]:
print (s[4:5])

o

If we omit either (or both) of `start` or `stop` from `[start:stop]`, the default is the beginning and the end of the string, respectively:

In [35]:
print (s[:5])

Hello

In [36]:
print (s[6:])

world

In [37]:
print  (s[:])

Hello world

 We can also define the step size using the syntax `[start:end:step]` (the default value for `step` is 1, as we saw above)
 
 
This technique is called *slicing*. Read more about the syntax here: http://docs.python.org/release/2.7.3/library/functions.html?highlight=slice#slice

In [38]:
print (s[::2])
print (s[:2:1])

Hlowrd
He

In [39]:
print ("str1", "str2", "str3")  # The print statement concatenates strings with a space

str1 str2 str3

In [40]:
print ("str1", 1.0, False, -1j)  # The print statements converts all arguments to strings

str1 1.0 False (-0-1j)

In [41]:
print ("str1" + "str2" + "str3") # strings added with + are concatenated without space

str1str2str3

## Lists
In Python, lists are mutable, commonly used to store collection of items.

Lists contain comma separated values within square brackets `[]`:

Elements in a list do not all have to be of the same type

In [42]:
my_list = [1, 2, 3, 'apple', 'orange']
my_list =['apple']
my_list

['apple']

Python lists can be inhomogeneous and arbitrarily nested:

In [43]:
k=[1,2.2,3,'a']
k=[1,[2,3,[4,5,[6,7,8,[9,[10,11,[12,13,[14,[15,[16]],[23]]],[22]]],[21]]],[20]],[19]]
k

[1,
 [2,
  3,
  [4,
   5,
   [6, 7, 8, [9, [10, 11, [12, 13, [14, [15, [16]], [23]]], [22]]], [21]]],
  [20]],
 [19]]

There are a number of convenient functions for generating lists of various types, for example the `range` function:

    in python 3 "range" generates an interator, which can be converted to a list using 'list(...)'.
    It has no effect in python 2

In [45]:
#print list(range(start, stop, step))
list(range(1,100,2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [47]:
print (list(range(-10, 10)))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
#different list operations
list1= ["Lahore", "Karachi", "Peshawar", "Islamabad"]

#indexing
list1[2]

'Peshawar'

In [50]:
#slicing
list1[1:2]

['Karachi']

In [51]:
#Concatenation
list2 = list1 + [4, 5, 6]
list2

['Lahore', 'Karachi', 'Peshawar', 'Islamabad', 4, 5, 6]

In [52]:
#Repitition
repeat_list = list1 * 2
repeat_list

['Lahore',
 'Karachi',
 'Peshawar',
 'Islamabad',
 'Lahore',
 'Karachi',
 'Peshawar',
 'Islamabad']

### List Methods
#### Adding, inserting, modifying, and removing elements from lists

In [63]:
#add an element to the end of the list
my_list = [3, 6, 8, 9, 0, 1]
my_list.append('banana')
my_list

[3, 6, 8, 9, 0, 1, 'banana']

In [64]:
#Extend the list by appending elements from an iterable.
my_list.extend([7, 8, 9])
my_list

[3, 6, 8, 9, 0, 1, 'banana', 7, 8, 9]

In [65]:
#Insert an element at a specified index.
my_list.insert(2, 'grape')  # Insert 'grape' at index 2
my_list

[3, 6, 'grape', 8, 9, 0, 1, 'banana', 7, 8, 9]

In [66]:
#Remove the first occurrence of a specified value
my_list.remove('banana')
my_list

[3, 6, 'grape', 8, 9, 0, 1, 7, 8, 9]

In [67]:
#Removes and returns the element at a specified index.
my_list.pop(2)
my_list

[3, 6, 8, 9, 0, 1, 7, 8, 9]

In [68]:
#Return the index of the first occurrence of a value.
index = my_list.index(6)
index

1

In [69]:
#Return the number of occurrences of a value.
count_of_2 = my_list.count(2)
count_of_2

0

In [70]:
#Sorts the list in ascending order.
my_list.sort()
my_list

[0, 1, 3, 6, 7, 8, 8, 9, 9]

In [71]:
#Reverse the order of elements in the list.
my_list.reverse()
my_list

[9, 9, 8, 8, 7, 6, 3, 1, 0]

In [72]:
#list can also be modified by assigning the values at specific index
my_list[1:4]= ['a', 'd', 'd']
my_list

[9, 'a', 'd', 'd', 7, 6, 3, 1, 0]

## Tuple
Tuples are like lists, except that they cannot be modified once created, that is they are *immutable*. 

In Python, tuples are created using the syntax `(..., ..., ...)`, or even `..., ...`:

In [74]:
#creating a tuple
my_tuple = (1, 2, 3, 'apple', 'orange')
my_tuple

(1, 2, 3, 'apple', 'orange')

In [75]:
first_element = my_tuple[0]  # Access the first element
first_element

1

In [76]:
 # concatenate a tuple
new_tuple = my_tuple + (4, 5, 6)
new_tuple

(1, 2, 3, 'apple', 'orange', 4, 5, 6)

In [77]:
# repeat a tuple using * operator
repeated_tuple = my_tuple * 2
repeated_tuple

(1, 2, 3, 'apple', 'orange', 1, 2, 3, 'apple', 'orange')

In [78]:
# tuples are immutable so u cant modify it
#modifying a tuple would result in error
my_tuple[1] = 11

TypeError: 'tuple' object does not support item assignment

In [80]:
point = 10, 20

print (point, type(point))

(10, 20) <class 'tuple'>

# Dictionaries
In Python, a dictionary is a collection type that allows you to store key-value pairs. Dictionaries are also known as associative arrays, hash maps, or hash tables in other programming languages. They are defined by enclosing comma-separated key-value pairs within curly braces {}

In [81]:
my_dict = {'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
my_dict

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}

In [87]:
my_dict = {
    'Ali': [2.7, "B+"],
    'Ahmad': [3.1, "A"],
    "Zain": [3.4, "A"]
}
my_dict

{'Ali': [2.7, 'B+'], 'Ahmad': [3.1, 'A'], 'Zain': [3.4, 'A']}

In [88]:
#accessing an element using key value
my_dict['Ali']

[2.7, 'B+']

In [90]:
my_dict['Ayesha'] = [4.0, "A+"]  # Add a new entry
my_dict

{'Ali': [2.7, 'B+'],
 'Ahmad': [3.1, 'A'],
 'Zain': [3.4, 'A'],
 'Ayesha': [4.0, 'A+']}

In [91]:
my_dict['Ali'] = [2.3, "C+"] # Modify an existing entry
my_dict

{'Ali': [2.3, 'C+'],
 'Ahmad': [3.1, 'A'],
 'Zain': [3.4, 'A'],
 'Ayesha': [4.0, 'A+']}

In [92]:
del my_dict['Ahmad']  # Remove the entry with key 
my_dict

{'Ali': [2.3, 'C+'], 'Zain': [3.4, 'A'], 'Ayesha': [4.0, 'A+']}

In [93]:
#Return a view of all keys in the dictionary.
my_dict.keys()

dict_keys(['Ali', 'Zain', 'Ayesha'])

In [94]:
#Returns a view of all values in the dictionary.
my_dict.values()

dict_values([[2.3, 'C+'], [3.4, 'A'], [4.0, 'A+']])

In [96]:
#Returns a view of all key-value pairs as tuples.
my_dict.items()

dict_items([('Ali', [2.3, 'C+']), ('Zain', [3.4, 'A']), ('Ayesha', [4.0, 'A+'])])

# Sets
In Python, a set is an unordered and mutable collection of unique elements. Sets are defined by enclosing comma-separated values within curly braces {}. Here are some key characteristics and examples of sets in Python:
### Key Characteristics:
#### Uniqueness:

Sets only allow unique elements. If you try to add a duplicate element, it will not be added.
#### Unordered:

Sets are unordered, meaning the elements do not have a specific order.
#### Mutability:

Sets are mutable, so you can add or remove elements after the set is created.
### Creating Sets:
You can create a set using the following syntax:

In [97]:
my_set = {1, 2, 3, 4, 5}
my_set

{1, 2, 3, 4, 5}

In [99]:
#You can add elements to a set using the add() method.
my_set.add(6)
my_set

{1, 2, 3, 4, 5, 6}

In [100]:
#You can remove elements using the remove() or discard() methods.
my_set.remove(3)
my_set

{1, 2, 4, 5, 6}

In [114]:
#Removes all elements from the set
my_set.clear()
my_set

set()

In [115]:
#You can perform a union of two sets using the union() method or the | operator.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
union_set

{1, 2, 3, 4, 5}

In [116]:
#You can perform an intersection of two sets using the intersection() method or the & operator.
intersection_set = set1.intersection(set2)
intersection_set

{3}

In [117]:
#You can find the difference between two sets using the difference() method or the - operator.
difference_set = set1.difference(set2)
difference_set

{1, 2}

In [118]:
# You can find the symmetric difference between two sets using the symmetric_difference() method or the ^ operator.
symmetric_difference_set = set1.symmetric_difference(set2)
symmetric_difference_set

{1, 2, 4, 5}

In [120]:
set1.add(4)
set1.add(5)

In [121]:
subset = set1.issubset(set2)
subset

False

In [122]:
superset = set1.issuperset(set2)
superset

True